.topbar{
  background-color: #f4f0eb;
  margin: 2px;
  margin-top: 5px;
}
.btn-primary{
  background-color: #505050;
  border-color: #505050;
}
.btn-primary:hover{
  background-color: #2d2e33;
  border-color: #2d2e33;
}
.btn-primary:focus{
  background-color: #2d2e33;
  border-color: #2d2e33;
}
.btn-primary:active{
  background-color: #2d2e33;
  border-color: #2d2e33;
}